# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

RewriteEngine on
RewriteCond %{HTTP_HOST} ^shop.socuro.com
RewriteRule ^(.*)$ http://socuro.com/shop/$1 [L,NC,QSA]